<header>
    <div class="container-xl px-xl-5">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg position-fixed w-100 border-bottom border-secondary" id="secondaryNavbar">
                    <div class="container-xl px-xl-5">
                        <div class="container-fluid">
                            <div class="col d-flex justify-content-between align-items-center">
                                <a class="navbar-brand" href="/">
                                    <img src="/img/havagaspontocom.png" alt="logo" width="70" height="50">
                                </a>
                                <div class="collapse position-absolute w-100 search-collapse py-3" id="navbarToggleExternalContent">
                                    <div class="row">
                                        <form class="input-group" action="/jobs/alljobs" method="GET">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="collapse" aria-label="Close" data-bs-target="#navbarToggleExternalContent">X</button>
                                            <input type="text" class="form-control" placeholder="Digite um cargo" aria-label="Recipient's username" aria-describedby="button-addon2" name="job">
                                            <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-end gap-2">
                                    <button class="navbar-toggler p-2 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <i class="fas fa-search px-2"></i>
                                    </button>
                                    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                </div>
                                <div class="col-7 ps-4 d-none d-lg-flex justify-content-center align-items-center" id="scrollButtons">
                                    <form class="input-group" action="/jobs/alljobs" method="GET">
                                        <input type="text" class="form-control" placeholder="Digite um cargo" aria-label="Recipient's username" aria-describedby="button-addon2" name="job">
                                        <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                                    <div class="offcanvas-header" id="offcanvasHeader">
                                    <div class="offcanvas-title" id="offcanvasNavbarLabel">
                                        <a class="navbar-brand" href="/">
                                            <img src="/img/havagaspontocom.png" alt="logo" width="70" height="50">
                                        </a>
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body d-flex justify-content-lg-end gap-3 flex-column flex-lg-row overflow-hidden" id="offcanvasBody">
                                        <button class="btn btn-outline-light btn-outline-primary" type="submit">Entrar</button>
                                        <button class="btn btn-primary" type="submit">Cadastre-se gratuitamente</button>
                                        <div class="row my-5 ps-5 d-flex gap-4 d-lg-none">
                                            <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover link-opacity-50-hover fw-bold" href="/">
                                                Home
                                            </a>
                                            <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover link-opacity-50-hover fw-bold" href="/#lastVgs">
                                                Últimas vagas adicionadas
                                            </a>
                                            <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover link-opacity-50-hover fw-bold" href="/jobs/alljobs">
                                                Ver todas as vagas
                                            </a>
                                            <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover link-opacity-50-hover fw-bold" href="/jobs/add">
                                                Adicionar vaga
                                            </a>
                                            <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover link-opacity-50-hover fw-bold" href="/#feedback">
                                                Depoimentos
                                            </a>
                                            <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover link-opacity-50-hover fw-bold" href="/#sac">
                                                Dúvidas frequentes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<main>
    <section>
        <div class="container-xl px-xl-5 py-5">
            <div class="row d-flex justify-content-center my-5">
                {{#if search}}
                    <p class="fs-1 text-center text-primary p-4">Oportunidades referentes a: {{search}}</p>
                    <div class="col-lg-2 d-flex justify-content-center">
                        <a href="/jobs/alljobs" class="btn btn-outline-primary mt-3 mb-5">Ver todas vagas</a>
                    </div>
                {{else}}
                    <p class="fs-1 text-center text-primary p-4">Todas Oportunidades adicionadas:</p>
                {{/if}}
                <div class="row d-flex justify-content-center">
                    <div class="col">
                        {{#each jobs}}
                        <div class="border border-primary p-md-2 mb-3 rounded-3 position-relative overflow-hidden">
                            <div>
                                <p class="fs-5 fw-bold">{{dataValues.title}}</p>
                                <p class="fs-6">{{dataValues.company}}</p>
                                <p>{{dataValues.description}}</p>
                            </div>
                            <div class="col d-flex justify-content-between">
                                <p class="fs-6 text-warning-emphasis fw-bold">R$ {{dataValues.salary}},00</p>
                                <a href="/jobs/details/{{dataValues.id}}" class="btn btn-primary">Detalhes</a>
                            </div>
                            <span class="position-absolute px-5 z-1 invisible{{#if dataValues.new_job}}fw-bold btn bg-warning text-dark{{/if}}" id="new">NEW</span>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>